*{
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#tempCalc{
    width: fit-content;
    padding: 3em;
    background-color: aquamarine;
    box-shadow: 10px 10px 43px 0px rgba(0,0,0,0.46);
}

#tempCalc label{
    font-size: 1.2em;
    font-weight: 10;
}

#tempCalc #temp{
    margin-top: 1em;
    padding:0.6em;
    border: 0px;
    user-select: none;
}

#tempCalc #temp_diff{
    margin-top: 1em;
    padding:0.6em;
    border: 0px;
    user-select: none;
}

input[type=submit]{
    padding:0.5em;
    background-color: rgba(56,56,56,0.45);
    font-size: 16px;
    font-weight:100;
    border-color:transparent;
    margin-top:0.25em;
}

#resultContainer{
    font-size: large;
    font-weight: 300;
}